// Colors
//
// Colors:
// $color-white: #eee - background color
// $color-lightgrey: #ddd - background color nav
// $color-primary: #46 - text color h1
// $-color-dark: #222 - text color
$color-light: #eee;
$color-lightgrey: #ddd;
$color-primary: #468;
$color-dark: #222;
